{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <a href="{{ path('home') }}">back to homepage</a>
    <h1>Post index</h1>
    <div>
        Total posts: <span id="posts_length">{{ posts|length }}</span>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>PublishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a>
                </td>
                <td>{{ post.content }}</td>
                <td>
                    <turbo-drive id="post_{{ post.id }}_publish_status">
                        {% if post.publishedAt %}
                            {{ post.publishedAt|date('Y-m-d H:i') }}
                            <form action="{{ path('post_unpublish', {'id': post.id}) }}" method="post" class="d-inline">
                                <button class="btn btn-outline-danger">
                                    unpublish
                                </button>
                            </form>
                        {% else %}
                            <form action="{{ path('post_publish', {'id': post.id}) }}" method="post">
                                <button class="btn btn-outline-primary">
                                    publish
                                </button>
                            </form>
                        {% endif %}
                    </turbo-drive>
                </td>
                <td>
                    <a class="btn btn-outline-secondary" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}">Create new</a>
{% endblock %}
